# mzdpilot: opendbc and panda are served from the mzdpilot org (they carry the
# torque interceptor changes). Touch this file to force `git submodule sync` to
# rewrite cached URLs on devices upgrading from zoompilot snapshots that pointed
# at zoompilot/opendbc or sunnyhaibin/panda.
[submodule "panda"]
  path = panda
  url = https://github.com/mzdpilot/panda.git
[submodule "opendbc"]
  path = opendbc_repo
  url = https://github.com/mzdpilot/opendbc.git
[submodule "msgq"]
  path = msgq_repo
  url = https://github.com/sunnypilot/msgq.git
[submodule "rednose_repo"]
  path = rednose_repo
  url = https://github.com/commaai/rednose.git
[submodule "teleoprtc_repo"]
  path = teleoprtc_repo
  url = https://github.com/commaai/teleoprtc
[submodule "tinygrad"]
  path = tinygrad_repo
  url = https://github.com/sunnypilot/tinygrad.git
[submodule "sunnypilot/neural_network_data"]
	path = openpilot/sunnypilot/neural_network_data
  url = https://github.com/sunnypilot/neural-network-data.git
